<div>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <div class="ui-grid-col-3 ui-text-adapt">
                    <div><span>Start Time:</span></div>
                    <div><span>End Time:</span></div>
                </div>
                <div class="ui-grid-col-9 ui-text-adapt">
                    <div><span>2018-02-18 16:35:11 UTC+08:00</span></div>
                    <div><span>--</span></div>
                </div>
            </div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-4 ">
                <div class="ui-grid-col-4 ui-text-adapt">
                    <div><span>Migrated Capacity:</span></div>
                    <div><span>Migrated objects:</span></div>
                </div>
                <div class="ui-grid-col-8 ui-text-adapt">
                    <div><span>1.500TB</span></div>
                    <div><span>1102</span></div>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4 item-content-backgroud">
                <div class="ui-grid-col-3">
                图片
                </div>
                <div class="ui-grid-col-3 ui-text-adapt">
                    <div><span>Source Bucket:</span></div>
                    <div><span>Backend:</span></div>
                </div>
                <div class="ui-grid-col-6 ui-text-adapt">
                    <div><span>bucket_appfor</span></div>
                    <div><span>service_for_media</span></div>
                </div>
            </div>
            <div class="ui-grid-col-2" style="text-align: center">
                <div class="ui-block-align-center">
                    <span>Rate of progress:60%</span>
                    <div class="line-arrow-right enabled"></div>
                </div>
            </div>
            <div class="ui-grid-col-4 item-content-backgroud">
                <div class="ui-grid-col-3">
                    图片
                </div>
                <div class="ui-grid-col-4 ui-text-adapt">
                    <div><span>Destination Bucket:</span></div>
                    <div><span>Backend:</span></div>
                </div>
                <div class="ui-grid-col-5 ui-text-adapt">
                    <div><span>bucket_hwc_dr</span></div>
                    <div><span>service_for_finance</span></div>
                </div>
            </div>
        </div>
    </div>
</div>